---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  imagePath: string;
  altText: string;
  title: string;
  description: string;
}

const {title, description, imagePath, altText} = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<a href="#" class="flex flex-col items-center p-3 w-72 mx-3 bg-white border border-gray-200 rounded-lg shadow-lg hover:bg-gray-100">
  <div class="w-64 h-64 overflow-hidden">
    <Image src={images[imagePath]()} alt={altText} class="w-full h-full object-cover" />
  </div>
  <div class="flex flex-col justify-between p-4 leading-normal text-start">
    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">{title}</h5>
    <p class="mb-3 font-normal text-gray-700">{description}</p>
  </div>
</a>
